@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: pacman;
    src: url(../font/pacman.ttf);
}

body, html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: pacman, monospace;
}

.board{
    font-size: 4em;
    line-height: 80px;
    letter-spacing: 20px;
}

.input{
    width: 50%;
    margin: auto;
    text-align: center;
}

