@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: pacman;
    src: url(font/PAC-FONT.TTF);
}

body, html{
    font-family: pacman, monospace;
}

.board{
    width: 50%;
    margin: auto;
    font-size: 2.5em;
    line-height: 70px;
    letter-spacing: 20px;
    font-weight: bold;
}

.input{
    width: 50%;
    margin: auto;
    text-align: center;
}

